@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= BAD GRUNGE ================= */

@font-face {
  font-family: "Tox Typewriter";
  src: url("./fonts/tox_typewriter/Tox Typewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bad Grunge";
  src: url("./fonts/bad_grunge/BAD GRUNGE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    cursor: none !important;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black font-body;
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-neon-yellow text-black;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px currentColor;
  }
}
